body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

input {
  border: none;
  background: #d3d3d373;
  padding: 3%;
  border-radius: 5px;
  outline-color: #7788996b;
  box-shadow: 0 0 1px;
}

ul {
  list-style-type: none;
}

.main-container {
  height: 100vh;
  width: 100%;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color: whitesmoke;
  line-height: 1.5;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  overflow: auto;
  background-image: url("./assets/images/Light_bg.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: flex;
  flex-direction: column;
}

.main-heading {
  width: 100%;
  margin: 0;
  text-align: center;
  position: relative;
}

.header-main-container {
  display: flex;
  height: 5em;
  width: 100%;
  background: #011638;
}

.header-main-filler-section {
  height: 50px;
  width: 50px;
}

.header-main-caption {
  text-align: center;
  color: whitesmoke;
  flex: 1;
}

.header-main-icon {
  align-self: center;
}

.footer-container {
  display: flex;
  height: 4em;
  width: 100%;
  background: #011638;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 25em;
  width: 40em;
  margin: auto;
  align-items: center;
  position: relative;
  overflow: auto;
  border-radius: 10px;
  background: #d5cfe14a;
  box-shadow: 0 0 5px;
  font-family: monospace;
}

.login-container h2 {
  color: #b8c0ff;
  position: relative;
  font-weight: 600;
  font-size: 20px;
}

.login-input-container {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: inherit;
}

.login-input-container label {
  color: #b4a0e5;
  align-self: center;
}

.login-button-container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  width: inherit;
}

.login-options-container {
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 40vh;
  width: 40vw;
  justify-content: space-evenly;
  margin: auto;
  border-radius: 10px;
  background: #d5cfe14a;
  box-shadow: 0 0 5px;
}

.login-route-section {
  display: flex;
  justify-content: center;
}

.login-route-button {
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  background: #b4a0e5;
  color: #ffd79b;
  box-shadow: 0 0 3px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.login-route-button-size-large {
  font-size: 3em;
  height: 1.2em;
  width: 3.5em;
}

.login-route-button-size-small {
  font-size: 1em;
  height: 2em;
  width: 6em;
}

.login-route-button-description {
  font-size: 1em;
  align-self: center;
  margin: auto;
  font-family: monospace;
}

.login-route-text {
  font-size: 20px;
  font-family: monospace;
  color: #b8c0ff;
  align-self: center;
  right: 1.1em;
  position: relative;
  font-weight: 600;
}

.signin-route-button:hover,
.login-route-button:hover,
.cancel-button:hover {
  transition: all 0.6s ease-out;
  background: #011638;
  color: whitesmoke;
}

.signin-route-button {
  overflow: hidden;
  font-size: 1em;
  text-align: center;
  text-decoration: none;
  height: 2em;
  width: 6em;
  border-radius: 5px;
  background: #b8c0ff;
  color: #ffd79b;
  box-shadow: 0 0 3px;
  display: flex;
}

.signin-route-button-description {
  font-size: 15px;
  align-self: center;
  margin: auto;
  font-family: monospace;
}

.signin-route-text {
  font-size: 14px;
  font-family: monospace;
  color: #b4a0e5;
  align-self: center;
  right: 3.5em;
  position: relative;
  font-weight: 600;
}

.cancel-button {
  overflow: hidden;
  font-size: 1em;
  text-align: center;
  text-decoration: none;
  height: 2em;
  width: 6em;
  border-radius: 5px;
  background: #49475b;
  color: #ffd79b;
  box-shadow: 0 0 3px;
  display: flex;
}

.cancel-button-description {
  font-size: 1em;
  align-self: center;
  margin: auto;
  font-family: monospace;
}

/* Used grid layout to create separation between sidebar and contents area */

.grid-col-app-wrapper {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
  background: grey;
  height: calc(100vh - 9em);
}

.grid-sidebar-container {
  border: 1px solid red;
  grid-column: span 1;
}

.grid-content-container {
  grid-column: span 3;
}
