.main-container {
  height: 100%;
  width: 100%;
  background: white;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-synthesis: none;
  line-height: 1.5;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.main-heading {
  width: 100%;
  margin: 2% auto;
  text-align: center;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 20em;
  width: 30em;
  margin: auto;
  align-items: center;
}

.login-input-container {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: inherit;
}

.login-button-container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  width: inherit;
}
